fastapi
uvicorn
gunicorn
sentence_transformers~=2.6.1
pydantic
scikit-learn~=1.2.2
joblib
numpy
openai
google-cloud-aiplatform~=1.74.0
requests
langchain
langchain-openai
python-dotenv
langfuse
deep-translator
google-genai
pytest
pytest-asyncio
responses
google-cloud-firestore