fastapi
uvicorn
gunicorn
sentence_transformers
pydantic
scikit-learn
joblib
numpy
paddlepaddle
paddleocr>=2.0.1
openai
google-cloud-aiplatform~=1.42.1
requests
langchain
langchain-openai
python-dotenv