fastapi==0.115.6
uvicorn==0.34.0
gunicorn==23.0.0
sentence-transformers==2.6.1
pydantic==2.10.4
scikit-learn==1.2.2
joblib==1.4.2
numpy==1.26.4
openai==1.61.1
google-cloud-aiplatform==1.74.0
requests==2.32.3
langchain==0.3.14
langchain-openai==0.2.14
python-dotenv==1.0.1
langfuse==2.59.1
deep-translator==1.11.4
google-genai==0.3.0
pytest==8.3.4
pytest-asyncio==0.25.1
responses==0.25.3
google-cloud-firestore==2.20.0
urlextract==1.9.0